<!DOCTYPE html>
<html>
<head>
    <title><%= mission %> Drop Table</title>
    <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css">
</head>
<body>
    <div>
        <h1><%= mission %> Drop Table Listing</h1>
    </div>
    <div>
        <%- pug %>
    </div>
</body>
</html>